@import 'frontend/global/scss/variables/main';


.navbar {
    padding: 1.4rem 1rem;
    border-bottom: 1px solid #ececec;
    
    .navbar-brand {
        align-items: center;
        font-size: 30px;
        color: #4d4d4d;
        transition: color 0.2s;

        svg {
            margin-right: 20px;
            fill: rgb(12, 134, 155);
            transition: color 0.2s;
        }
        &:hover {
            svg {
                fill: #0c7cc4;
            }
        }
    }
    .nav-item.dropdown {
        &:hover > .dropdown-menu {
            display: block;
        }
    }
    .navbar-collapse {
        .dropdown-toggle {
            &::after {
                vertical-align: middle;
            }
            &:active {
                pointer-events: none;
            }
        }
        
        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            
            .nav-link {
                margin-left: 20px;
            }
        }
    }
    .lang-switcher {
        width: fit-content;

        .lang-menu {
            min-width: 100%;
        
            .lang-item {
                display: flex;
                justify-content: center;
                padding: 0.4rem 1.5rem;
            }
        }
    }
}

.search-form {
    margin-left: 20px;
    
    .search-results {
        position: absolute;
        background: white;
        padding: 20px;
        width: 500px;
        box-shadow: #00000033 0 6px 6px 5px;
        right: 0;

        #search-results-count-block {
            color: gray;
        }
    }

}

#menu {
    padding-left: 36px;
    padding-top: 36px;

    [aria-expanded="true"] {
        color: blue;
    }
    [aria-expanded="false"] {
        color: red;
    }
}

.container-custom {
    display: flex;
    padding: 0;
    justify-content: center;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
