@import 'frontend/global/scss/variables/main';


$size: 200px;
//.color1 {
//    width: $size * 5;
//    height: $size;
//    background: $color-primary;
//}
//.color2 {
//    width: $size * 5;
//    height: $size;
//    background: $color-accent;
//}
//.color3 {
//    width: $size * 5;
//    height: $size;
//    background: $color-accent;
//    background: $color-accent-rel;
//}



.navbar {
    border-bottom: 1px solid #ececec;
    

    .container {
        @include media-breakpoint-up(lg) {
            padding: 1.4rem 1rem;
        }
        @include media-breakpoint-down(lg) {
            padding: 0.5rem 1rem;
        }
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
    
    .navbar-brand {
        align-items: center;
        font-size: 30px;
        color: #4d4d4d;
        transition: color 0.2s;

        svg {
            height: 45px;
            margin-right: 20px;
            fill: $color-primary;
            transition: color 0.2s;
        }
        &:hover {
            svg {
                fill: $color-accent;
            }
        }
    }
    .nav-item.dropdown {
        &:hover > .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    }
    .navbar-collapse {
        .dropdown-toggle {
            &::after {
                vertical-align: middle;
            }
            &:active {
                pointer-events: none;
            }
        }
        
        @include media-breakpoint-up(lg) {
            justify-content: flex-end;
            
            .nav-link {
                margin-left: 20px;
            }
        }
    }
    .lang-switcher {
        width: fit-content;

        .lang-menu {
            min-width: 100%;
        
            .lang-item {
                display: flex;
                justify-content: center;
                padding: 0.4rem 1.5rem;
            }
        }
    }

    &.fixed-top {
        background: white;
        $padding: 0.3rem;
        padding: $padding;
        
        .container-fluid {
            padding: 0;
    
            .navbar-brand {
                font-size: 1rem;
                padding: 0;
        
                svg {
                    height: 25px;
                    margin-right: 0.5rem;
                    fill: $color-primary;
                    transition: color 0.2s;
                }
                &:hover {
                    svg {
                        fill: $color-accent;
                    }
                }
            }
        }
    }
}
.navbar-fixed {
    margin-top: $navbar-height-fixed;
}

.search-form {
    margin-left: 20px;
    
    .search-results {
        position: absolute;
        background: white;
        width: 500px;
        right: 0;

        #search-results-count-block {
            color: gray;
        }
    }

}

.menu-column {
    padding: 0;

    .menu-container {
        $a-padding: 5px;
        $gutter: ($grid-gutter-width / 2) - $a-padding;
        padding: 0;
        height: 100%;
        background: #fafafa;
        
        #menu {
            padding-top: $layout-docs-padding-top - $gutter;
        }

        ul {
            list-style: none;
            padding-left: 0;
            
            li {
                $arrow-size: 7px;

                .arrow {
                    content: '';
                    border: solid #707070;
                    border-width: 0 1px 1px 0;
                    display: inline-block;
                    transform: rotate(45deg) translateY(-$arrow-size) translateX(0);
                    
                    width: $arrow-size;
                    height: $arrow-size;
                }
                a {
                    $text-padding: 7px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: $text-padding $grid-gutter-width;
                    padding-left: $grid-gutter-width;
                    color: inherit;
                    font-size: 0.95rem;

                    &:hover {
                        text-decoration: none;
                    }
                    &[aria-expanded='true'] {
                        color: $color-primary;
                        margin-bottom: $text-padding;
                        background: #eaeaea8c;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            height: $layout-docs-padding-top;
                            width: 100%;
                            left: 0;
                            border-left: 4px solid $color-primary;
                        }
                        &::after {
                            @extend .arrow;
                            transform: rotate(-135deg) translateY($arrow-size/2) translateX(-$arrow-size/2);
                        }
                        .dropdown-item-text {
                            
                        }
                    }
                    &[aria-expanded='false'] {
                        &::after {
                            @extend .arrow;
                        }
                    }
                }
                ul {
                    a {
                        padding-left: $grid-gutter-width * 2;
                    }
                    ul {
                        a {
                            padding-left: $grid-gutter-width * 3;
                        }
                        ul {
                            a {
                                padding-left: $grid-gutter-width * 4;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container-custom {
    display: flex;
    padding: 0;
    justify-content: center;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}
