footer {
    display: flex;
    position: relative;
    background-color: rgb(252, 252, 252);

    .footer-content {
        margin: 2rem 0;
    }
}

.navbar-fixed {
    footer {
        border-top: 1px solid rgb(238, 238, 238);
    }
}
