@import 'frontend/global/scss/bootstrap-variables';


.main-column {
    @include media-breakpoint-up(xs) {
        margin-bottom: $grid-gutter-width;
    }
    @include media-breakpoint-up(sm) {
        margin-bottom: $grid-gutter-width*2;
    }
    @include media-breakpoint-up(md) {
        margin-bottom: $grid-gutter-width*4;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: $grid-gutter-width*6;
    }
}

html {
    background: linear-gradient(0deg, $body-color 70%, white 25%);
    height: 100%;
}
