@import 'node_modules/tocbot/src/scss/tocbot-core';
@import 'node_modules/tocbot/src/scss/tocbot-default-theme';
@import 'frontend/global/scss/bootstrap-variables';


// must correspond to fixedPosTopCssOffset in main.ts
$fixed-pos-top-css-offset: 10px;

$fixed-pos-top-css-offset-with-toolbar: $cms-toolbar-height + $layout-docs-padding-top;


.djangocms-toc {
    position: relative;
    top: 0;
    padding-left: $layout-docs-padding-top;
    padding-top: $layout-docs-padding-top;
    font-size: 14px;
    //
    //&.is-position-fixed {
    //    position: fixed;
    //    top: $fixed-pos-top-css-offset;
    //}
    //
    //&.is-position-fixed-with-toolbar {
    //    top: $fixed-pos-top-css-offset-with-toolbar;
    //    padding-top: 0;
    //}
    //
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    ul ul {
        padding-left: 1.5em;
    }
    
    li a {
        display: inline-block;
        padding: 5px 0;
        transition: all 0.3s cubic-bezier(0.230, 1.000, 0.320, 1.000);
        color: $gray-600;
        text-decoration: none;
    }
    
    .toc-link::before {
        background-color: $gray-300;
        content: ' ';
        display: inline-block;
        height: inherit;
        left: 0;
        margin-top: -1px;
        position: absolute;
        width: 2px;
    }
    
    .is-active-link{
        color: $color-primary;
        font-weight: normal;

        &::before {
            background-color: $color-primary;
        }
    }

}
//.cms-toolbar-expanded .navbar-fixed .djangocms-toc.is-position-fixed-with-toolbar {
//    top: $fixed-pos-top-css-offset-with-toolbar + $navbar-height-fixed;
//}
//.navbar-fixed {
//    .djangocms-toc.is-position-fixed {
//        top: $layout-docs-padding-top + $navbar-height-fixed;
//    }
//}
.djangocms-toc {
    top: 3rem;
    padding-top: 5px;
    $aside-col-size: 7;
    max-width: (map-get($container-max-widths, 'xl')/$grid-columns)*$aside-col-size;
}
.djangocms-toc.is-position-fixed {
    position: relative !important;

}
.one-column-with-menu-and-sidebar {
    .djangocms-toc {
        top: 5px !important;
    }
    //.djangocms-toc.is-position-fixed {
    //    position: relative !important;
    //    padding-right: $grid-gutter-width-half;
    //}
    //.djangocms-toc.is-position-fixed-with-toolbar {
    //    position: relative;
    //    padding-top: 5px;
    //    padding-right: $grid-gutter-width-half;
    //}
}
