{% extends 'base.html' %}


{% load cms_tags sekizai_tags staticfiles %}


{% block content %}

    <div class="row">
        <div class="col">
            <h2>custom CSS test</h2>
        </div>
    </div>

    <div class="row">
        <div class="col pt-4">
            <a href="#" class="btn btn-primary">Test button - should be orange</a>
        </div>
    </div>

    <main>
        {% placeholder 'content' %}
    </main>

    <footer>
        {% static_placeholder 'footer' %}
    </footer>

{% endblock %}
