{% extends 'base.html' %}


{% load cms_tags sekizai_tags staticfiles %}

{% block messages %}{# remove from here to move them below #}{% endblock messages %}

{% block content %}
    
    <header>
        {% placeholder 'header' %}
    </header>
    
    {% include 'includes/messages.html' with messages=messages %}

    <main class="container">
        <aside class="col-7">
            {% placeholder 'left column' %}
        </aside>
    
        <article class="col-lg-17 col-md-24">
            {% placeholder 'content' %}
        </article>
    </main>

{% endblock %}
